:root {
  --color-black: #202020;
  --color-white: #ffffff;
  --color-accent-1: #0080ff;
  --color-accent-2: #ff4040;
  --color-text: var(--color-black);
  --color-background: var(--color-white);
  --font-head: 'Lora', serif;
  --font-body: 'Scope One', serif;
  --font-code: 'Inconsolata', monospace;
}

@font-face {
  font-family: 'Lora';
  src: url('/fonts/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Scope One';
  src: url('/fonts/ScopeOne-Regular.ttf') format('truetype');
}

body, input {
  font-family: var(--font-body);
  line-height: 1.5;
}

h1, h2 { font-family: var(--font-head); }

h1 { font-size: 1.5em; }
h2 { font-size: 1.2em; }

a { color: var(--color-text); text-decoration-color: var(--color-accent-1); }
a:hover { text-decoration-color: var(--color-accent-2); }